*{
	box-sizing: border-box;
}

body{
	font-family:  American Typewriter, serif;
}

h1{
	text-align: center;
	margin-bottom: 50px;
}

.row{
	width: 100%;
}
.box{
	border: 1px solid black;
	background-color: rgba(0,0,0,0.3);
	margin: 5px 10px 15px 10px;
}

.heading-name{
	float:  right;
	position: relative;
	top: -1px;
	right: -1px;
	width: 100px;
	margin: 0;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid black;
	text-align: center;
}

.name-1 {
	background-color: red;
	color: white;
}

.name-2 {
	background-color: blue;
	color: white;
}

.name-3 {
	background-color: green;
	color: white;
}

.content{
	clear: right;
	height: auto;
	width: 100%;
	padding: 2%;
	margin-left: : auto;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-d-4 {
  	float: left;
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-t-6,.col-t-12 {
    float: left;
  }
  .col-t-6 {
    width: 50%;
  }
  .col-t-12 {
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-m-12 {
  	float: left;
    width: 100%;
  }
}